.selected-city {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(253, 232, 255);
    box-sizing: content-box;
    padding: 1vw 5vw;
    background: rgba(0, 0, 0, 0.662);
    border-radius: 5vh;
}

