.search-panel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    flex-grow: 1;
}

.search-input {
    width: 50%;
    will-change: transform;
    border-radius: 10vh;
    border: 1px solid rgb(253, 232, 255) !important;
    color: rgb(253, 232, 255);
    box-sizing: content-box;
    padding: .5em 2em;
    transition: .3s;
    font-size: 2rem;
}

.search-input:hover {
    transform: scale(1.02);
    transition: .3s;
    
}