*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;;
}

button {
    cursor: pointer;
}

.app-wrapper {
    padding: 4vh;
    min-width: 100vw;
    min-height: 100vh;
    background: rgba(128, 128, 128, 0.607);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 4vh;
    
    .selected-city {
        flex-grow: 1;
        font-size: 3vw;
    }

    .main-section {
        gap: 2vw;
        flex-grow: 10;
        padding: 5vh;
        display: flex;
        font-size: 3vw;
        justify-content: space-around;
        border-radius: 5vh;
        width: 85%;
        background: rgb(27, 207, 207);
    }

    .weather-indicators {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .date-area, .weather-pattern {
        width: 30%;
    }
        
    .actual-temperature {
        font-size: 10vw;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .minmax, .wind {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}

